.header {
    background-color: #0c0233;
}

.headerContainer {
    display: flex;
    justify-content: left;
    align-items: center;
}

.headerTitleContainer {
    display: flex;
    align-items: center;
    margin-left: 14px;
    text-decoration: none;
}

.headerTitle {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: flex-end;
    color: #e0e0e0;
}

.headerIcon {
    height: 32px;
    width: auto;
    margin-left: 36px;
}

.shareButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 20px;
}

.shareButton {
    color: #141414;
}

.shareButtonText {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
}

.urlTextBox {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid;
    border-radius: 4px;
}

.copyButtonContainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 12px;
    gap: 4px;
    border: 1px solid;
    border-radius: 4px;
}

.copyButtonContainer:hover {
    cursor: pointer;
}

/* .copyButton {
    color: #424242;
} */

.copyButtonText {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
}

@media (max-width: 480px) {
    .headerTitleContainer {
        margin-left: 4px;
    }

    .headerIcon {
        margin-left: 26px;
    }
}